@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

a {
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.external-link::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  mask-image: url("external-link.svg");
  mask-size: contain;
  vertical-align: middle;
}
